<div class="ad-colored text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          巨大的横幅广告！
        </h2>
        <p>
        A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
        </p>
      </div>
    </div>
  </div>
</div>