<div class="ad-colored text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <h2>
          巨大的横幅广告！
        </h2>
        <p>
        A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.
        </p> -->
        <!-- <img src="init_data/images/ads/ad_01.png" alt="Apple"> -->
        <%= image_tag('/init_data/images/ads/ad_01.png', :width => "820px") %>
      </div>
    </div>
  </div>
</div>