<div class="panel panel-orange">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="panel-title">
            <%= link_to'宣战', bbs_node_topics_path('4'), :target => '_blank' %>
          </h3>
        </div>
        <div class="col-md-2 col-md-offset-7">
          <h3 class="panel-title">
            <%= link_to'更多', bbs_node_topics_path('4'), :target => '_blank' %>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="container">

      <div class="row">
        <% League::ProclaimWar.desc(:created_at).limit(6).each do |proclaimWar| %>
        <!-- <div class="col-md-6" style="margin-top: 5px;"> -->
        <div class="come-fighting padding-top-14 float-left margin-left-20">
          <p>
          <%= image_tag(proclaimWar.challenger.logo_url) %>
          挑战
          <%= image_tag(proclaimWar.defender.logo_url) %>
          </p>
          <p>来打一架吧！</p>
        </div>
        <% end %>
      </div>  

    </div>
  </div>
</div>