<div id="loginModal" class="modal fade">
  <div class="modal-dialog">
    <%= form_tag(user_session_path, :class => "form-horizontal", :role => "form") do |f| %>
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">您没有登录！请登录</h4>
	      </div>
	      <div class="modal-body">
				  <div class="form-group">
				    <label for="login_email" class="col-sm-2 control-label">平台帐号</label>
				    <div class="col-sm-10">
					    <input type="text" class="form-control" id="login_email" placeholder="请输入帐号" name="user[login]">
				    </div>
				  </div>
				  <br/>
				  <div class="form-group">
				    <label for="login_password" class="col-sm-2 control-label">登录密码</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" id="login_password" placeholder="请输入密码" name="user[password]">
				    </div>
				  </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">继续访问</button>
	        <button type="submit" class="btn btn-primary">登录</button>
	      </div>
	    </div><!-- /.modal-content -->
		<% end %>  
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->