<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" style="margin-left: -100px;" ><%= image_tag('/init_data/images/logo.png', width: 350) %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>