<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->


<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">美女图片墙</h3>
  </div>
  <div class="panel-body">
    


    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <div class="modal-desc"></div>
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            上一张
                        </button>
                        <button type="button" class="btn btn-primary next">
                            下一张
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="links" class="row">

      <div class="col-md-3 portfolio-item">
        <a href="init_data/images/pic_walls/pic_wall_big_1.jpg" title="Banana"  data-desc="勇者斗恶龙4新图首曝光." data-gallery>
          <img src="init_data/images/pic_walls/pic_wall_1.png" alt="Banana">
        </a>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 portfolio-item">
            <a href="init_data/images/pic_walls/pic_wall_big_2.jpg" title="Apple"  data-desc="成吉思汗3上演双服混战." data-gallery>
                <img src="init_data/images/pic_walls/pic_wall_2.png" alt="Apple">
            </a>        
          </div>

          <div class="col-md-6 portfolio-item">
            <a href="init_data/images/pic_walls/pic_wall_big_3.jpg" title="Apple"  data-desc="汪星人的土鳖宿命 一个真正悲伤的故事." data-gallery>
                <img src="init_data/images/pic_walls/pic_wall_3.png" alt="Apple">
            </a>
          </div>
      
        </div>

        <div class="row">
          <div class="col-md-6 portfolio-item">
            <a href="init_data/images/pic_walls/pic_wall_big_4.jpg" title="Apple"  data-desc="This is a banana." data-gallery>
                <img src="init_data/images/pic_walls/pic_wall_4.png" alt="Apple">
            </a>        
          </div>

          <div class="col-md-6 portfolio-item">
            <a href="init_data/images/pic_walls/pic_wall_big_3.jpg" title="Apple"  data-desc="This is a banana." data-gallery>
                <img src="init_data/images/pic_walls/pic_wall_3.png" alt="Apple">
            </a>
          </div>       
        </div>      
      </div>
    </div> 
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/jquery.blueimp-custom.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script type="text/javascript">
// $(function(){

// });
</script>