*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/public/article/*
/public/badge/*
/public/league/*
/public/tmp/*
/public/assets/*
/public/uploads/tmp/*
/config/config.yml
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.ruby-version
config/initializers/secret_token.rb
public/photo
public/user

.DS_Stroe
