<div class="panel panel-orange">
  <div class="panel-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag '/init_data/images/panels/jrkf.png' %>
        </div>
        <div class="col-md-2 col-md-offset-7">
          <% if false %>
          <h4 class="panel-title">
            <%= link_to '更多游戏', servertimes_path %>
          </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
      <!-- <table class="table table-bordered table-striped" style="text-align: center;"> -->
      <table class="table servertimes-table" style="text-align: center;"> 
        <thead style="">
          <td class="first">游戏名称</td>
          <td>开服时间</td>
          <td>服务器名</td>
          <td>游戏类型</td>
          <td>运营商</td>
          <td>进行游戏</td>
        </thead>
        <tbody>
          <% 3.times do %>
            <tr>
              <td class="servertime_item_name">古剑奇侠</td>
              <td>16:40</td>
              <td>双线358区</td>
              <td>角色扮演</td>
              <td>4399</td>
              <td class="btn-time">
                <a href="#" class="servertime_start_game">
                  <%= image_tag('/init_data/images/server_times/start_game_btn.png') %>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>