<div class="section-colored">

  <div class="container">

    <div class="row">
      <table class="table table-bordered table-striped">
          <h3>今日开服表</h3>
        <thead>
            <th class="head">
              <td class="first">游戏名称</td>
              <td>开服时间</td>
              <td>服务器名</td>
              <td>游戏类型</td>
              <td>运营商</td>
              <td style="width:80px;"></td>
            </th>
        </thead>
        <tbody>
          <% 6.times do %>
            <tr>
              <td></td>
              <td>古剑奇侠</td>
              <td>16:40</td>
              <td>双线358区</td>
              <td>角色扮演</td>
              <td>4399</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->