<div class="container">
	<div class="row-fluid">
	  <div class="col-md-9">
	    <div class="well">
	      <h3>
	      合伙人站内信 <small> <a href="javascript:clear_no_read()"> 清空未读消息</a></small>
	      </h3>
	      
<!-- 	      <div class="controls">
	      	<input type="text" placeholder="输入昵称或姓名 可按回车搜索" id="keyword" class="span4 input-mini" value=""> <a href="javascript:search_list()" class="btn btn-primary" style="padding: 3px 5px; vertical-align:super">搜索联系人</a>
				</div> -->
				<hr>
	      <ul class="nav nav-tabs">
	        <li class="active">
		        <a href="#">已建立联系列表(未评价：12人)</a>
	        </li>
	        <li>
		        <a href="http://www.ycpai.com/active/cancel_message">取消联系列表</a>
	        </li>
	        <li>
		        <a href="http://www.ycpai.com/active/no_reply_users">发出请求未回复列表</a>
	        </li>
	      </ul>  
	      <table class="table">
	        <thead>
	          <tr>
	            <th class="span2">发信人</th>
	            <th class="span6">内容</th>
	            <th class="span2">沟通状态</th>
	            <th class="span2">操作</th>
	          </tr>
	        </thead>
	        <tbody>
		        <% @communications.each do |communication| %>
	            <tr class="message_list">
		            <td>
			            <a href="#9">
								    <img src="#" class="img-circle" style="width: 50px;"><br>
										<%= communication.another_person(current_user).login %>
		              </a>
		            </td>
		            <td>
		            	<a href="#">
										<%= communication.last_message.content %>
		            		<!-- <span class="badge badge-info">有新消息</span> -->
		          		</a>
		              <br>
		              <small>
		              	<%= communication.last_message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
		              </small>
		            </td>
		            <td>
			            <small><font color="green">站内建立联系</font></small>
						      <br>
			            <span id="have_judge_30359" class="label label-success hide">已评价</span>
						      <a id="need_judge_30359" data-toggle="modal" href="#" class="btn btn-small " onclick="javascript:set_comments(30359,&#39;向北&#39;,1)">评价</a>
		            </td>
		            <td>
									<%= link_to '继续交流', message_messages_path(communication) %>
			            <br>
		              <a href="http://www.ycpai.com/active/cancle_message/30359"><small>取消联系</small></a>
		            </td>
		          </tr>
						<% end %>
	        </tbody>
	      </table>
	      <div class="page_nav">
	      	<span>共17条数据</span> <span>共2页</span>&nbsp;<strong>1</strong>&nbsp;<a href="http://www.ycpai.com/active/message/2">2</a>&nbsp;<a href="http://www.ycpai.com/active/message/2">下一页</a>&nbsp; 
	    	</div>
	    </div>
	  </div>
	  <div class="col-md-3">
	   	<div id="set_map_tip"></div>
			<div>
				<div class="alert fade in" style="text-align:center;">
					<a class="close" data-dismiss="alert" href="http://www.ycpai.com/active/message#">×</a>
					<a href="http://www.ycpai.com/app/download"><img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/android.png"> <img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/ios.png">十秒钟安装手机客户端，有人联系您，立刻就能收到消息</a> 
				</div>
			</div>      
			<div id="left_ychui"></div>
		  <div class="well">
		    <div class="nav nav-list">
		      我的<a href="http://www.ycpai.com/active/show_credit">靠谱指数</a>:
		      <img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/star.png"><img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/star.png"><img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/star.png"><img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/stargray.png"><img src="./【新消息】缘创派   互联网创业合伙人，这里找到_files/stargray.png">     <br>
			&nbsp;<a href="http://www.ycpai.com/huodong/kaopu_index"><small>如何增加靠谱指数</small></a>
		    </div>
		  </div>
		  <div class="well">
		    <ul class="nav nav-list">
		      <li class="nav-header">
			      个人中心
		      </li>
		      <li>
		      	<a href="./【新消息】缘创派   互联网创业合伙人，这里找到_files/【新消息】缘创派   互联网创业合伙人，这里找到.html"> <i class="icon-envelope"></i> <strong>合伙人站内信</strong> <span class="badge badge-info msg_num hide" style="display: inline;">1</span> </a> 
	      	</li>
		      <li>
		      	<a href="http://www.ycpai.com/active/comment_manage"> <i class="icon-comment"></i> 相互评价管理 </a> 
		      </li>
		      <li class="divider"></li>
		      
		      <li>
		      	<a href="http://www.ycpai.com/home/follow_person"> <i class="icon-eye-open"></i> 我关注的合伙人 </a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div> 
</div>