<%= simple_form_for([:admin, @sys_meta_hero, @hero_star_upgrade]) do |f| %>
  <%= render 'shared/error_messages', :target => @hero_star_upgrade %>
  <fieldset>
    <legend></legend>
    
    <%= f.input :star_level %>

    <div class="form-actions">
      <%= f.submit %>
      <%#= link_to 'Back', admin_sys_heros_path %>
    </div>
  </fieldset>
<% end %>
