<p style="margin-top: 30px;">
101fun游戏网用论坛币玩的页游（http://www.101fun.com/）是蕉点享乐信息技术（成都）有限公司中一个专门针对网页游戏而提供的游戏最新资讯、游戏原创攻略、业界资讯以及热门网页游戏论坛等综合性服务门户网站。
</p>
<p>
101fun游戏网始终坚持“以玩家为中心，以厂商伙伴为基石”的态度给每一位热爱游戏的人提供一个好的、真实的、公平公正的、超一流的游戏综合交流平台。
</p>
<p>
目前，101fun游戏网已经与多家厂商、伙伴建立起了合作的渠道。在此期间，101fun游戏网所拥有的一系列优秀的编辑蓄势待发，将竭尽全力的为各位玩家即时、真实的反应各种游戏的品质、画面以及运营等多方面信息。我们秉承能做到多好、多大、多强，就竭尽全力的去做，绝不夸大或者作假。同时，我们希望在以后道路上与各位热爱游戏的人一起共同进步与成长。
</p>
<p>
101fun游戏网始终坚信，在这里不需要沉迷游戏，不需要非健康的游戏，正所谓修身，诚意、正心是修身的前提，游戏不是累赘，游戏是快乐，只希望每个玩家都从这里获得生活的乐趣。
</p>