<p style="margin-top: 30px;">
    <h3>操作教程</h3>
    <br/>
    <ul>
      <li><%= image_tag('/init_data/images/sys_games/courses/file0001.jpg') %></li>
      <li>
        1.把韩服客户端和补丁下载好。
      </li>
      <br/>
      <li>
        2.解压韩服客户端。
      </li>
      <br/>
      <li>
        3.再把补丁解压到已解压好的客户端目录那里。
      </li>
      <br/>
      <li>
        4.从这里找到EXE。
      <li><%= image_tag('/init_data/images/sys_games/courses/file0002.jpg') %></li>
      </li>
      <br/>
      <li>
        点击进入，注册账号就你打了账号后，加_f或_m
        f是女角色，m是男角色

        比如，第一次注册是  1212_f  或 _m

        第二次上帐号就是1212
      </li>
      <li><%= image_tag('/init_data/images/sys_games/courses/file0003.jpg') %></li>
      <li><%= image_tag('/init_data/images/sys_games/sys_game_4.png') %></li>
    </ul>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</p>