<p style="margin-top: 30px;">
    <h3>一、版权声明</h3>
    <ul>
      <li>
        1、本网站或所有用户端界面上的内容包括但不限于文字报导、图片、声音、录像、图表、标志、标识、广告、商标、商号、域名、软件、程序、版面设计、专栏目录与名称、内容分类标准以及为注册用户提供的任何信息，均受《中华人民共和国着作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《计算机信息网络国际联网安全保护管理办法》、《计算机软件保护条例》及《中华人民共和国刑法》（节录）保护。上述有关知识产权权利属于蕉点享乐信息技术（成都）有限公司或本公司合作厂商。
      </li>
      <li>
        2、用户有权依法或依相关协议使用本网站资源，但禁止以商业性质为目的或其他损害本网站及本网站合作厂商权益的行为使用站内相关资源。
      </li>
      <li>
        3、未经本网站的特别授权，任何人不得变更、发行、播送、转载、复制、重制、改动、散布、表演、展示或利用本网站的局部或全部内容或服务或在非本网站所属的服务器上作镜像，违者以侵权论，并依法追究法律责任。
      </li>
    </ul>
</p>
<p>
    <h3>二、隐私条款</h3>
    <ul>
      <li>
        1、本网站将对上网用户的个人信息保密，未经用户许可不向他人透露，但法律法规另有规定的除外。
      </li>

      <li>
        2、本网站的用户在注册时，需要提供一些个人资料，包括但不限于姓名、性别、年龄、出生日期、身份证号码、电话、通讯地址和电子邮件等。只有在提供了上述的信息后，本网站才能为用户提供相应的服务。用户在注册时提供的上述信息，完全是出于自愿，用户可以在任何时候拒绝提供上述信息。用户在注册时提供上述信息即表示同意本网站对这些信息进行善意利用。
      </li>
    </ul>
</p>
<p>
    <h3>三、免责条款</h3>

    如果发生下列情况，本网站不承担任何法律责任：
    <ul>
    <li>
      1、 本网站根据法律规定或相关政府部门的要求提供注册用户的个人信息；
    </li>
    <li>
      2、由于注册用户将用户密码告知他人或与他人共用注册帐户，由此导致的任何个人信息的泄漏，或其他非因本网站原因导致的个人信息的泄漏；
    </li>
    <li>
      3、任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；
    </li>
    <li>
      4、因不可抗力导致的任何后果；
    </li>
    <li>
      5、是否经由本网站下载或取得任何资料，由用户自行考虑、衡量并且自负风险，因下载任何资料而导致电脑系统的任何损坏或资料流失，本网站不承担任何法律责任。
    </li>
    <li>
      6、对于用户在本网站发布的下列各类信息或实施的行为，本网站有权在不通知用户的前提下进行删除或采取其他限制性措施：
    </li>
    违反法律法规；
    </ul>

    炒作信用为目的；

    本网站有足够理由相信存在欺诈等恶意或虚假成份；

    违反公共利益或可能严重损害本网站和其他用户合法利益的。
</p>