<br/>
<br/>
<br/>
<br/>
<div class="container">
<div id="messages_div" class="container">
<% @messages.each do |message| %>
	<%= message.content %>
<% end %>
</div>
            <%= form_for(Message::Message.new, :url => league_league_messages_path(@league), :remote => true, :html => {:onsubmit => 'return validate_content()'}) do |form| %>
              <%= form.text_area :content %>
              <%= form.submit 'å‘é€' %>
            <% end %>
</div>
<script type="text/javascript">
  // function validate_content(){
  	// return true;
  	// return false;
  // }
</script>