<br/>
<br/>
<br/>
<br/>
<div class="container">
<div id="messages_div" class="container">
<% @messages.each do |message| %>
	<%= message.content %>
<% end %>
</div>
<%= form_for([@league, Message.new], :remote => true) do |form| %>
	<%= form.text_area :content %>
	<%= form.submit 'å‘é€' %>
<% end %>
</div>
<script type="text/javascript">
  // function validate_content(){
  	// return true;
  	// return false;
  // }
</script>