<br/>
<br/>
<br/>
<br/>
<div class="container">
	<div id="messages_div" class="container">
	<% @messages.each do |message| %>
		<%= message.content %>
	<% end %>
	</div>
	<% if can_publish_message?(@league) %>
	  <%= form_for([:league, @message], :remote => true) do |form| %>
	  	<%= form.text_area :content %>
	    <%= form.submit 'å‘é€' %>
	  <% end %>
  <% end %>
</div>
<script type="text/javascript">
  // function validate_content(){
  	// return true;
  	// return false;
  // }
</script>