<div class="panel panel-orange">
  <div class="panel-heading">
    <h3 class="panel-title">竞彩足球</h3>
  </div>
  <div class="panel-body" style="">
    <div class="row">
      <img src="init_data/images/guess_balls/fball.png" , width ='100%;', height = '100%;'/>
    </div>

    <div class="first-game">
        <p class="game-name" style="">  
          中国队 VS 日本队
        </p>
        <p style="height: 20px; text-align: center;">
          <input type="radio" name="group_1" value="1" >胜</input>
          <input type="radio" name="group_1" value="2" >平</input>
          <input type="radio" name="group_1" value="3" >负</input>
        </p>  
    </div>

    <div class="second-game">
        <p class="game-name" style="">  
          中国队 VS 日本队
        </p>
        <p style="height: 20px; text-align: center;">
          <input type="radio" name="group_2" value="1" >胜</input>
          <input type="radio" name="group_2" value="2" >平</input>
          <input type="radio" name="group_2" value="3" >负</input>
        </p>  
    </div>

    <% if current_user && can_guess_ball? %>
      <div class="row">
        <div class="col-md-4 col-md-offset-3">
          <%#= link_to '下注吧！', game_guess_path, :remote => true, :class => "detain-btn", :id => 'guess_ball_submit_btn' %>
          <a class="detain-btn" id="guess_ball_submit_btn">
            <%= image_tag('/init_data/images/guess_balls/xiazhu_1.png') %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>