<div class="panel panel-orange">
  <div class="panel-heading">
    <div class="title">
      <%= image_tag '/init_data/images/panels/jcyxtj.png' %>
    </div>
  </div>
  <div class="panel-body">

    <div class="">

        <div class="" style="float: left; width:315px; padding-left: 20px;">
          <h2>仙境传说</h2>
          <p>
            本服是仙境二转服，6月11日开启，特地为斗鱼粉丝所开的非商业服，不设任何充值和赞助。
            尤其欢迎斗鱼的观众、陈一发和鸡哥的粉丝前来玩耍。
            <br/>
            手动升级，外挂必封。每周两次公会战。安装须先按“下载教学”操作。

            <br/>
            注册账号就你打了账号后，加_f或_m
            f是女角色，m是男角色
            比如，第一次注册是  1212_f  或 _m
            第二次上帐号就是1212
          </p>
          <p> 
            <a href="http://pan.baidu.com/s/1bnFE3HP" class="start-game-btn">
              <%= image_tag('/init_data/images/sys_games/download_game.png') %>
            </a>
            
            <a href="/download_course/" class="" target="_blank" style="margin-top: 43px;">
              <%= image_tag('/init_data/images/sys_games/download_course.png') %>
            </a>

          </p>
        </div>
        <div class="" style="float: right;">
          <%#= image_tag('/init_data/images/sys_games/coin_game.png', :class => 'coin-game-img') %>
          <img class="img-responsive" src="init_data/images/sys_games/tu_2.png">
        </div>

    </div><!-- /.container -->

  </div>
</div>