<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>自主研发的第一款游戏推荐</h2>
        <ul>
          <li>Bootstrap 3 Framework</li>
          <li>Mobile Responsive Design</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>100% <strong>Free</strong> to Use</li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="init_data/images/sys_games/sys_game_1.png">
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="init_data/images/sys_games/sys_game_2.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>自主研发的第二款游戏推荐</h2>
        <ul>
          <li>Bootstrap 3 Framework</li>
          <li>Mobile Responsive Design</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>100% <strong>Free</strong> to Use</li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->