<div class="panel panel-orange">
  <div class="panel-heading">
    <div class="title">
      <%= image_tag '/init_data/images/panels/jcyxtj.png' %>
    </div>
  </div>
  <div class="panel-body">

    <div class="">

        <div class="" style="float: left; width:315px; padding-left: 20px;">
          <h2>仙境传说</h2>
          <br/>
          <br/>
          <br/>
          <br/>
          <p> 
            <a href="javascript: void(0);" class="start-game-btn">
              <%= image_tag('/init_data/images/sys_games/start_game_btn.png') %>
            </a>
            
            <a href="javascript: void(0);" class="" target="_blank" style="margin-top: 43px;">
              <%= image_tag('/init_data/images/sys_games/audit_btn.png') %>
            </a>

          </p>
        </div>
        <div class="" style="float: right;">
          <%#= image_tag('/init_data/images/sys_games/coin_game.png', :class => 'coin-game-img') %>
          <img class="img-responsive" src="init_data/images/sys_games/tu_2.png">
        </div>

    </div><!-- /.container -->

  </div>
</div>