<div class="panel panel-orange">
  <div class="panel-heading">
    <%= image_tag '/init_data/images/panels/jcyxtj.png' %>
  </div>
  <div class="panel-body">

    <div class="">

        <div class="" style="float: left; width:315px; padding-left: 20px;">
          <h2>
            攻城夺地 
          </h2>
          <ul>
            <li>上古历823年，女娲石现世，人、妖、鬼、佛、仙、魔六界因而全面开战，大地再次陷入战争的漩涡，《攻城夺地》从此开始！！！</li>
            <li>该游戏采用写实神话风格，对弈回合的战斗形式，在方格矩阵的战斗场景中，双方不断上阵己方的神将，以攻破对方城池。通过技能组合以及神将搭配的策略形式，让战斗更有乐趣，永不乏味！</li>
          </ul>
          <p>
            <a href="http://www.mys-engine.com/js/three/webgl_loader_obj.html" target="_blank" class="start-game-btn">
              <%= image_tag('/init_data/images/sys_games/start_game_btn.png') %>
            </a>
            
            <a href="/games/gcld/auction/auction_princes_index.html" class="" target="_blank" style="margin-top: 43px;">
              <%= image_tag('/init_data/images/sys_games/audit_btn.png') %>
            </a>

          </p>
        </div>
        <div class="" style="float: right;">
          <%= image_tag('/init_data/images/sys_games/coin_game.png', :class => 'coin-game-img') %>
          <img class="img-responsive" src="init_data/images/sys_games/tu_1.png">
        </div>

    </div><!-- /.container -->

  </div>
</div>