<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>攻城夺地</h2>
        <ul>
          <li>上古历823年，女娲石现世，人、妖、鬼、佛、仙、魔六界因而全面开战，大地再次陷入战争的漩涡，《攻城夺地》从此开始！！！</li>
          <li>该游戏采用写实神话风格，对弈回合的战斗形式，在方格矩阵的战斗场景中，双方不断上阵己方的神将，以攻破对方城池。通过技能组合以及神将搭配的策略形式，让战斗更有乐趣，永不乏味！</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>100% <strong>Free</strong> to Use</li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="init_data/images/sys_games/sys_game_1.png">
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section-colored -->

<% if false %>
<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="init_data/images/sys_games/sys_game_2.png">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>自主研发的第二款游戏推荐</h2>
        <ul>
          <li>Bootstrap 3 Framework</li>
          <li>Mobile Responsive Design</li>
          <li>Predefined File Paths</li>
          <li>Working PHP Contact Page</li>
          <li>Minimal Custom CSS Styles</li>
          <li>Unstyled: Add Your Own Style and Content!</li>
          <li>Font-Awesome fonts come pre-installed!</li>
          <li>100% <strong>Free</strong> to Use</li>
          <li>Open Source: Use for any project, private or commercial!</li>
        </ul>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

</div><!-- /.section -->
<% end %>