<div class="panel panel-orange">
  <div class="panel-heading">
    <div class="title">
      <%= image_tag '/init_data/images/panels/jcyxtj.png' %>
    </div>
  </div>
  <div class="panel-body">

    <div class="">

        <div class="" style="float: left; width:315px; padding-left: 20px;">
          <h2>群雄策</h2>
          <ul style="padding-left: 15px;">
            <li>皇威不存，群雄并起。有志男儿，披甲从戎。</li>
            <li>纵马挥戈，征战沙场。君临天下，无人能挡。</li>
            <li>群雄之策，谋略无双。威震华夏，铸就传奇。</li>
          </ul>
          本游戏中玩家用拍卖拍得的主公和武将，在三国的疆土上征战沙场，管理城池增强实力，派遣武将攻占敌方势力。用你的军队，去征服天下吧，每晚七点开服，开启你的传奇。
          <p> 
            <a href="/s_games/index.html" target="_blank" class="start-game-btn">
              <%= image_tag('/init_data/images/sys_games/start_game_btn.png') %>
            </a>
            
            <a href="/games/gcld/auction/auction_princes_index.html" class="" target="_blank" style="margin-top: 43px;">
              <%= image_tag('/init_data/images/sys_games/audit_btn.png') %>
            </a>

          </p>
        </div>
        <div class="" style="float: right;">
          <%= image_tag('/init_data/images/sys_games/coin_game.png', :class => 'coin-game-img') %>
          <img class="img-responsive" src="init_data/images/sys_games/tu_1.png">
        </div>

    </div><!-- /.container -->

  </div>
</div>