/***rewards panel style****/
.panel-title {
	float: left;
	width: 130px;
	line-height: 33px;
}
.panel-body div.row {
	min-height: 560px;
}
.myrewards{
	width: 980px;
}
.myrewards .panel-heading{
	background-image: url(/assets/rewards/jiangli_header.png);
	height: 52px;
	width: 980px;
	color: white;
}
.myrewards .panel-body{
	background-image: url(/assets/rewards/jiangli_bodybg.png);
	width: 980px;
}

/*****rewards ul style***/
.img-line{margin-top: -21px;}
.reward-list li{
	background-image: url(/assets/rewards/jiangli_kuang_2.png);
	background-repeat: no-repeat;
	width: 161px;
	height: 55px;
	text-align: center;
	font-size: 22px;
	font-family:"Microsoft YaHei";
}
.reward-list > li.active{
	background-image: url(/assets/rewards/jiangli_kuang.png);
	background-repeat: no-repeat;
	width: 161px;
	height: 55px;
	text-align: center;
	font-size: 22px;
}
.reward-list > li > a {color: #a133e6;}
.reward-list > li > a:hover,
.reward-list > li > a:focus 
{ 
	color: #f24364;
	background-color: transparent;
}
.reward-list > li.active > a,
.reward-list > li.active > a:hover,
.reward-list > li.active > a:focus
{
	color: #f24364;
	background-color: transparent;
}

/***rewards table style***/
.reward-table {border:2px solid #df9686; font-family:"Microsoft YaHei";}
.reward-table thead > tr > th {
	border:2px solid #df9686;
	height: 55px;
	background-color: #faf8ef;
	text-align: center;
	font-size: 20px;
	font-style: bold;
}
.reward-table td {
	border:2px solid #df9686;
	height: 55px;
	font-size: 20px;
}

table th.width-70 {
	width: 70px;
}
/***rewards button style***/
.getreward-btn{
	width: 100px;
	height: 29px;
	background-image: url(/assets/rewards/lingqu.png);
	border: none;
	border-radius: 0px;
}

.getreward-btn:hover{
	background-image: url(/assets/rewards/lingqu_2.png);
}