li{list-style:none;}

body{
	background-image: url('/init_data/images/background.jpg');
	background-repeat: no-repeat;
	/*width: 1600px;*/
	background-size: cover;
}

body .carousel {
	height: 330px;
}

.font-14 {
	font-size: 14px;
}

.section, .section-colored {
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 12px 0px;
}


.ads_image {
	/*margin-bottom: 12px;*/
}

 /*styles for 300 and up @ 16px!*/
/* The max-width declaration below blocks this from ever working */
@media only screen and (min-width: 480px){
}
/*
.navbar-fixed-top li {
	width: 120px;
}
*/
.navbar-fixed-top li.rewards {
	background-image: url('/init_data/images/navbar/rewards.png');
	background-repeat: no-repeat;
	background-position-y: 15px;
	width: 130px;
}

.navbar-fixed-top li a {
	padding-left: 25px;
}

.navbar-fixed-top li.messages {
	background-image: url('/init_data/images/navbar/messages.png');
	background-repeat: no-repeat;
	background-position-y: 15px;
	width: 115px;
}

.navbar-fixed-top li.leagues {
	background-image: url('/init_data/images/navbar/leagues.png');
	background-repeat: no-repeat;
	background-position-y: 13px;
	width: 110px;
}

.navbar-fixed-top li.bbs {
	background-image: url('/init_data/images/navbar/bbs.png');
	background-repeat: no-repeat;
	background-position-y: 13px;
	width: 80px;
}

.navbar-fixed-top .signed-label {
	margin-top: 15px;
}



.panel-orange {
	border: 0px solid transparent;
  border-color: #F5A274;
}

.panel-orange > .panel-heading {
	border: 0px solid transparent;
  color: #000;
  background-color: #F5A274;
  border-color: #F5A274;
}

.panel-orange > .panel-heading + .panel-collapse .panel-body {
	border: 0px solid transparent;
  border-top-color: #F5A274;
}

.panel-orange > .panel-heading > .dropdown .caret {
	border: 0px solid transparent;
  border-color: #F5A274 transparent;
}

.panel-orange > .panel-footer + .panel-collapse .panel-body {
	border: 0px solid transparent;
  border-bottom-color: #F5A274;
}

/* 整体框架内容容器 */
.main-container {
	width: 980px;
	margin: auto;
}

/* 顶部导航 */
.navbar .sign-btn {
/*	background-image: url('/init_data/images/navbar/sign_btn.png'); 
	background-repeat: no-repeat;
	background-position: 0px 10px;
*/}

/* 第一个顶部条 */
.top-a-container {
	height: 240px; 
	overflow: hidden;
}

/* 业界咨询 */
.articles-list {
	width: 225px;
	float: left;
}
.articles-list .panel-heading {
	padding: 5px 15px;
	background-image: url('/init_data/images/panels/articles_header.png'); 
	height: 31px;
}
.articles-list .panel-body {
	background-image: url('/init_data/images/panels/articles_body.png'); 
	padding: 0px;
}

.articles-list .article-item {
	background-image: url('/init_data/images/articles/article_item.png'); 
	margin: 1px 0px;
}

.articles-list .article-item {
	color: #fff;
}

.topbbs-list {
	width: 238px; 
	float: left; 
	margin-left: 13.5px;
}

.topbbs-list .panel-heading {
	padding: 5px 15px;
	background-image: url('/init_data/images/panels/top_bbs_header.png'); 
	height: 30px;
}

.topbbs-list .panel-body {
	padding: 0px;
	background-image: url('/init_data/images/panels/top_bbs_body.png'); 
	background-position-y: -42px;
	/*padding-top: 10px;*/
}


.topbbs-list li a.topbbs-type-item {
	color: red;
}

.topbbs-list li.item_ji {
	padding-top: 5px;
	height: 25px;
	/*background-image: url('/init_data/images/topbbs/item_ji.png'); */
}

.topbbs-list li.item_ou {
	padding-top: 5px;
	height: 25px;
	/*background-image: url('/init_data/images/topbbs/item_ou.png'); */
}

.topbbs-list li a {
	color: #000;
}


/* 第二个顶部条 */
.top-b-container {
	height: 330px;
	overflow: hidden;
	padding-top: 0px;
}

.leagues-list {
	width: 728px; 
	float: left;
	height: 330px;
}

.leagues-list .panel-heading {
	background-image: url('/init_data/images/panels/middle_header.png');
	height: 38px;
	padding: 0px;
}

.leagues-list .title {
	/*margin: 0px 0px 0px 20px;*/
}
.leagues-list .panel-body {
	background-image: url('/init_data/images/panels/leagues_body.png');
	padding: 0px;
	padding-bottom: 25px;
	padding-left: 25px;
	height: 292px;
	background-position-y: -39px;
}

.league-items-list {
	/*padding-right: 20px;*/
	margin: auto;
	padding: 20px;
	/*padding-bottom: 10px;*/
}

.league-item {
	width: 195px;
	height: 98px;
	/*background-image: url('/init_data/images/leagues/league_item_bg.png');*/
	float: left;
	margin-right: 23px;
	margin-top: 20px;
}

.league-item .join_league_btn {
	margin-top: 8px;
	width: 80px;
	height: 26px;
	background-image: url('/init_data/images/leagues/join_league_1.png');
	float: right;
}

.league-item strong a{
	font-size: 20px;
	color: #000;
}

.btn-all-league {
	margin-top: -8px;
	width: 68px;
	height: 24px;
	/*background-image: url('/init_data/images/leagues/souso_anniu.png');*/
	border-radius: 0px;
	border:none;
	margin-right: 38px;
}

.btn-search {
	width: 68px;
	height: 24px;
	background-image: url('/init_data/images/leagues/souso_anniu.png');
	border-radius: 0px;
	border:none;
	margin-right: 10px;
	margin-left: 13px;
}
.btn-search:hover {
	background-image: url('/init_data/images/leagues/souso_anniu_1.png');
}

.leagues-list input.form-control{
	height: 26px;
}

.league-item strong {
	float: right;
}

/* 竞猜足球 */



.guessball {
	width: 237px; 
	height: 330px;
	float: left; 
	margin-left: 13.5px;
	overflow: hidden;
}

.guessball .panel-heading {
	padding: 5px 10px;
	background-image: url('/init_data/images/panels/right_header.png');
	height: 31px;
}

.guessball .panel-body {
	height: 299px;
	background-image: url('/init_data/images/panels/guessball_body.png');
	padding: 0px 25px;
	background-position-y: -31px;
}

.guessball .first-game {
	text-align: center;
	margin-top: 1px;
	height: 45px;
}

.guessball .second-game {
	text-align: center;
	margin-top: 1px;
	height: 45px;
}

.guessball .first-game .game-name {
	background-image: url('/init_data/images/guess_balls/first_game_bg.png');
}

.guessball .second-game .game-name {
	background-image: url('/init_data/images/guess_balls/second_game_bg.png');
}

.guessball .detain-btn {
	background-image: url('/init_data/images/guess_balls/xiazhu_1.png');
	width: 68px;
	height: 25px;
}

.guessball .game-name {
	height: 25px;
}

.guessball p {
	margin-bottom: 0px;
}

.guessball .game-name {
	font-size: 14px;
	color: #fff;
}

.result-choice span{
  float: left;
  margin-right: 30px;
}

.result-choice .last-radio {
	margin-right: 0px;
}


/* 第三个顶部条 */
.top-c-container {
	height: 437px;
	overflow: hidden;
}

.sys-game {
	height: 485px;
}

.sys-game .panel-heading{
	padding: 3px 10px;
	background-image: url('/init_data/images/panels/longest_header.png');
	height: 38px;
}

.sys-game .panel-body {
	height: 390px;
	background-image: url('/init_data/images/panels/sys_game_body.png');
	padding: 8px;
	background-position-y: -34px;
}

.sys-game .start-game-btn {
}

.sys-game .coin-game-img {
	position: absolute;
	margin-top: -25px;
	margin-left: -45px;
}

.sys-game .title {
	margin: 3px 0px 0px 20px;
}
/* 第四个顶部条 */
.top-d-container {
	height: 240px;
	padding-top: 0px;
	overflow: hidden;
}

.servertimes {
	width: 980px;
}

.servertimes .panel-heading {
	padding: 5px 10px;
	background-image: url('/init_data/images/panels/longest_header.png');
	height: 38px;
}

.servertimes .panel-body {
	background-image: url('/init_data/images/panels/servertimes_body.png');
	padding-bottom: 0px;
	height: 202px;
	padding: 12px 20px 12px 20px;
	background-position-y: -38px;
}

.servertimes-table thead {
	font-size: 20px;
}

.servertimes-table tbody {
	font-size: 18px;
}

.servertimes-table, 
.servertimes-table td
{
	border: 2px solid #da7e89;
}

.servertimes-table tr {
	height: 45px;
}

.servertimes-table .btn-time {
	padding: 5px 30px;
}


/* 第五个顶部条 */
.top-e-container {
	margin-top: 12px;
	height: 240px;
	padding-top: 0px;
	overflow: hidden;
}

/* Freda */

.float-left{
	float: left;
}

.margin-left-10{
  margin-left: 10px;
}

.margin-left-38{
	margin-left: 38px;
}

.margin-left-20{
	margin-left: 20px;
}

.padding-top-14{
	padding-top: 14px;
}

/* 第五个顶部条 */
.top-f-container {
	margin-top: 2px;
	/*height: 240px;*/
	/*padding-top: 0px;*/
	/*overflow: hidden;*/
}


/*美女图片墙*/
.picture-wall .panel-heading{
	background-image: url(/init_data/images/panels/longest_header.png);
	height: 38px;
	width: 980px;
	color: white;
}

.picture-wall .panel-body {
	background-image: url(/init_data/images/panels/meinvtu_body.png);
	background-position-y: -31px;
	padding-bottom: 0px;
}

.picture-wall .title {
	margin: -3px 0px 0px 20px;
}

.picture-wall .left-big-item {
	width: 220px;
	float: left;
}

.picture-wall .right-list-container {
	width: 720px;
	height: 300px;
	/*overflow: hidden;*/
	float: right;
	/*margin-left: 10px;*/
}

.picture-wall .right-list-container .portfolio-item {
	width: 230px;
	float: left;
	margin-left: 10px;
}


/*宣战吧*/
.fighting{
	width: 727px;
	text-align: center;
}

.fighting .panel-heading{
	padding: 5px 10px;
	background-image: url(/init_data/images/panels/middle_header.png);
	height: 38px;
	width: 728px;
}

.fighting .panel-body{
	background-image: url(/init_data/images/panels/xuanzhanba_body.png);
	height: 236px;
	width: 728px;
	background-position-y: -72px;
}

.fighting .title {
	margin-top: -3px;
}

.come-fighting{
	/*background-image: url(/init_data/images/panels/tiaozhan_bg.png);*/
	width: 205px;
	height: 100px;
	background-repeat: no-repeat;
}


/*激烈战况*/
.fighting-live .panel-heading{
	padding: 5px 10px;
	background-image: url(/init_data/images/panels/zhankuang_header.png);
	height: 30px;
	width: 240px;
}

.fighting-live .panel-body{
	background-image: url(/init_data/images/panels/zhankuang_body.png);
	height: 244px;
	width: 240px;
	padding: 0px;
	background-position-y: -61px;
}

.fighting-live .item {
	height: 25px;
}

.fighting-live .item a {
	color: #000;
}

.fighting-live .item_ji {
	padding-top: 5px;
	/*background-image: url(/init_data/images/topbbs/item_ji.png);*/
}

.fighting-live .item_ou {
	padding-top: 5px;
	/*background-image: url(/init_data/images/topbbs/item_ou.png);*/
}


/* 贴心小提示 */
.tip {
	width: 1044px;
	height: 168px;
	position: fixed;
	top: 700px;
	/*left: 280px;*/
	background-image: url(/init_data/images/tip.png);
}
