主攻竞拍时间

<%= form_tag(start_auction_zhaizhu_cpanel_games_gcld_castellans_path) do |f| %>
	<label>竞拍时间：</label>
	<input type="text" name="auction_time"></input>
	<input type="submit" value="开始竞拍"></input>
<% end %>

<hr/>

武将竞拍时间

<%= form_tag(start_auction_zhaizhu_cpanel_games_gcld_castellans_path) do |f| %>
	<label>竞拍时间：</label>
	<input type="text" name="auction_time"></input>
	<input type="submit" value="开始竞拍"></input>
<% end %>
